
body{
    background-color: rgb(79, 141, 202)
}

#calculadora {
    width: 300px;
    margin: 50px auto;
    padding: 10px;
    background-color: rgb(79, 78, 78);
    border: 6px solid rgba(239, 239, 239, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(168, 20, 20, 0.1);
}

input,
button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#borrar {
    margin-top: left;
}

h2 {
    text-align: center;
}


#contenedo {
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 55px;
    border: solid 2px black;
    border-radius: 15px;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    font-family: "Pathway Extreme", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
        "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        "Helvetica Neue", sans-serif;
}

#contenedo>div {
    text-align: center;
    color: #49362e;
    border: 1px solid rgb(173, 146, 140)(46, 46, 47);
    background-color: rgb(173, 146, 140)(53, 53, 54);
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    /*border-radius: 10px;*/
}

.contf {
    background-color: black;
    padding: 20px;
    font-size: 14px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.div1 {
    display: flex;
    margin-left: 14%;
    color: white;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
   
}



#img2{
    width: 40px;
    height: 40px;
   position: relative;
   right: 120px;
   position: relative;
   top: 30px;

}

#img3{
    width: 40px;
    height: 40px;
   
   position: relative;
   bottom: 15px;
   right: 60px;
   

}

#img4{
    width: 40px;
    height: 40px;
   position: relative;
   bottom: 15px;
   right: 50px;
   

}


